<div class="innerpages">
  <div id="careers-page">
    <div class="jobs-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 current-jobs">
                  <div class="title-section">
                            <div class="title-content">
                                <h2 class="wow slideInUp"><span>Current Openings At <i>monave</i></span></h2>
                            </div>
                        </div>
                    <div class="panel-group" id="accordion">
                        <!-- <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                <h4 class="panel-title">
                                    Web Developer
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div> -->
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                                <h4 class="panel-title">
                                    Business Developement Executive
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <p>We are currently looking for an active executive who can bring businesss for the company and can deal clients with ease.</p>
                                  <p>This is more like partime job where you can earn by just refering us clients who are looking for custom applications for their business needs.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                <h4 class="panel-title">
                                    Administration
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1">
                    <div class="job-form">
                        <div class="title-section">
                            <div class="title-content">
                                <h2 class="wow slideInUp"><span>Apply For <i>A Job</i></span></h2>
                            </div>
                        </div>
                        <form id="contact-us">
                            <input type="hidden" name="client_form_id" value="22">
                            <div class="form-group">
                                <label for="name">Name <small>*</small></label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required />
                                <div id="name_error" class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="email"> Email <small>*</small></label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required />
                                <div id="email_error" class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="mobile"> Mobile Number <small>*</small></label>
                                <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile" required />
                                <div id="phone_error" class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="job"> Applying For <small>*</small></label>
                                <select class="form-control" required name="job" id="job">
                                  <option value="">Select Job</option>
                                  <option selected value="Business Developement Executive">Business Developement Executive</option>
                                </select>
                                <div id="job_error" class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="resume"> Resume<small>*</small></label>
                                <input type="file" name="resume" id="resume" class="form-control" placeholder="Resume" required />
                                <div id="resume_error" class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="message"> Message</label>
                                <textarea name="message" id="message" class="form-control" rows="5" placeholder="Message"></textarea>
                                <div class="error" id="message_error"></div>
                            </div>
                            <div class="contact-btn">
                                <button type="submit" class="btn btn-info"><i class="icon-paper-airplane"></i> SEND</button>
                                <div class="sMessage"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
