<div id="about-page">
  <div class="about-charity">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-section">
            <div class="title-content">
              <h2 class="wow slideInUp">
                <span>About <i>monave</i></span>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="box-content wow slideInUp">
                <div class="pic-right wow bounceInLeft">
                  <img
                    src="assets/img/about.png"
                    alt="About Pic"
                    class="img-responsive"
                  />
                </div>
                <h2 class="box-title wow slideInUp">
                  We do best, and we make sure we deliver best
                </h2>
                <p class="head-para wow slideInUp">
                  <b style="color: var(--color-primary)">monave</b> is a team of
                  Software Engineers spread around the world. Combining our
                  solid business domain knowledge, technical expertise, profound
                  knowledge of most modern industry trends and quality-driven
                  delivery model we offer progressive end-to-end solutions.
                </p>
                <p class="head-para wow slideInUp">
                  We deliver extensive web services extending from custom web
                  applications & software to the development of complex Internet
                  systems. We base our offerings on an understanding of clients’
                  business goals and providing reliable solutions. We combine
                  business domain expertise with technology competence and
                  proven methodologies to deliver high-quality results in a
                  cost-effective manner to maximize your competitive advantage
                  and productivity.
                </p>
                <p class="head-para wow slideInUp">
                  If you are looking for the first-class talent to code your
                  custom software or a compelling website or a mobile app, we
                  are definitely the top contenders. We are known for top web
                  design skills, web application development, and mobile
                  application development.
                </p>
                <p>
                  Just drop an email to
                  <a href="mailto:contact@monave.innave@gmail.com"
                    >contact@monave.innave@gmail.com</a
                  >
                  with your requirement we will come up with a solution.
                </p>
                <p class="head-para wow slideInUp">Some of our Key Services:</p>
                <ul class="key-projects">
                  <li>
                    <p>
                      <span class="fa fa-check"></span> Training & Certification
                    </p>
                  </li>
                  <li>
                    <p><span class="fa fa-check"></span> Web Designing</p>
                  </li>
                  <li>
                    <p><span class="fa fa-check"></span> Web App Development</p>
                  </li>
                  <li>
                    <p>
                      <span class="fa fa-check"></span> Mobile App Development
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="fa fa-check"></span> SEO & Digital Marketing
                    </p>
                  </li>
                  <li>
                    <p><span class="fa fa-check"></span> Web Hosting</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mission" id="ourMission">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="title-section">
            <div class="title-content">
              <p class="icon-top"><span class="flaticon-mission"></span></p>
              <h2 class="wow slideInUp">
                <span>Our <i>Mission</i></span>
              </h2>
            </div>
          </div>
          <div class="box-content wow slideInUp">
            <p>
              <i class="fa fa-quote-left" aria-hidden="true"></i> To deliver the
              top-notch, Highly innovative, feature-rich websites across the
              worlds of startups and enterprise fragment with our captivating
              functionality.
              <i
                style="transform: rotateY(180deg)"
                class="fa fa-quote-left"
                aria-hidden="true"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="mission vision">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="title-section">
            <div class="title-content">
              <p class="icon-top"><span class="flaticon-internet-2"></span></p>
              <h2 class="wow slideInUp"><span>Our <i>Vision</i></span></h2>
            </div>
          </div>
          <div class="box-content wow slideInUp">
            <p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Tempore dolore sed corporis aut, magnam reprehenderit labore molestiae. Commodi quam aspernatur,
              quibusdam fugit, hic, vel quae, illum assumenda omnis et possimus. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Soluta quae vitae tempora ratione repellendus facere, nobis excepturi, aspernatur maxime
              voluptas praesentium mollitia fugit placeat eaque! Sed quos fugit sunt, sapiente. <i style="transform:rotateY(180deg)" class="fa fa-quote-left" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <app-footer></app-footer>
</div>
