<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-inner-box box-center">
          <img
            src="assets/favicons/android-chrome-512x512.png"
            class="img-responsive logo"
          />
          <h3 class="wow slideInUp">Contact Address</h3>
          <p class="wow slideInUp ft-addr">
            4<sup>th</sup> Floor , Mayurinandana Building<br />
            Gujjanagundla,<br />
            Guntur, Andhrapradesh - 520006
          </p>
          <p class="wow slideInUp">
            <span class="icon-phone"></span>
            <a href="tel:09949270864">(+91) 9949270864</a> |
            <span class="icon-envelope-open"></span>
            <a href="mailto:contact@monave.innave@gmail.com"
              >contact@monave.innave@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <p class="text-center">© 2016-{{ fullYear }} monave All rights reserved.</p>
  </div>
</div>
