	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/02/2017 05:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-accountant:before { content: "\f100"; }
.flaticon-actor:before { content: "\f101"; }
.flaticon-add:before { content: "\f102"; }
.flaticon-application:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-awareness:before { content: "\f105"; }
.flaticon-bars:before { content: "\f106"; }
.flaticon-bars-1:before { content: "\f107"; }
.flaticon-box:before { content: "\f108"; }
.flaticon-buildings:before { content: "\f109"; }
.flaticon-business:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-calendar-1:before { content: "\f10c"; }
.flaticon-charity-donation:before { content: "\f10d"; }
.flaticon-chauffer:before { content: "\f10e"; }
.flaticon-check:before { content: "\f10f"; }
.flaticon-chessplayer:before { content: "\f110"; }
.flaticon-chil-hand-on-the-hand-of-an-adult:before { content: "\f111"; }
.flaticon-clock:before { content: "\f112"; }
.flaticon-clock-1:before { content: "\f113"; }
.flaticon-cogwheel:before { content: "\f114"; }
.flaticon-cogwheel-1:before { content: "\f115"; }
.flaticon-dinner:before { content: "\f116"; }
.flaticon-donation:before { content: "\f117"; }
.flaticon-donation-1:before { content: "\f118"; }
.flaticon-favorite:before { content: "\f119"; }
.flaticon-file:before { content: "\f11a"; }
.flaticon-filmmaker:before { content: "\f11b"; }
.flaticon-folder:before { content: "\f11c"; }
.flaticon-food:before { content: "\f11d"; }
.flaticon-food-1:before { content: "\f11e"; }
.flaticon-food-2:before { content: "\f11f"; }
.flaticon-food-3:before { content: "\f120"; }
.flaticon-food-on-plate:before { content: "\f121"; }
.flaticon-football:before { content: "\f122"; }
.flaticon-gardener:before { content: "\f123"; }
.flaticon-heart:before { content: "\f124"; }
.flaticon-help:before { content: "\f125"; }
.flaticon-help-1:before { content: "\f126"; }
.flaticon-home:before { content: "\f127"; }
.flaticon-hydro:before { content: "\f128"; }
.flaticon-idea:before { content: "\f129"; }
.flaticon-info:before { content: "\f12a"; }
.flaticon-interface:before { content: "\f12b"; }
.flaticon-interface-1:before { content: "\f12c"; }
.flaticon-interface-2:before { content: "\f12d"; }
.flaticon-interface-3:before { content: "\f12e"; }
.flaticon-internet:before { content: "\f12f"; }
.flaticon-internet-1:before { content: "\f130"; }
.flaticon-internet-2:before { content: "\f131"; }
.flaticon-journalist:before { content: "\f132"; }
.flaticon-knitting:before { content: "\f133"; }
.flaticon-landscape-photo:before { content: "\f134"; }
.flaticon-layers:before { content: "\f135"; }
.flaticon-like:before { content: "\f136"; }
.flaticon-list:before { content: "\f137"; }
.flaticon-medal:before { content: "\f138"; }
.flaticon-medical:before { content: "\f139"; }
.flaticon-medical-1:before { content: "\f13a"; }
.flaticon-medical-insurance:before { content: "\f13b"; }
.flaticon-medical-kit:before { content: "\f13c"; }
.flaticon-megaphone:before { content: "\f13d"; }
.flaticon-message:before { content: "\f13e"; }
.flaticon-mission:before { content: "\f13f"; }
.flaticon-multimedia:before { content: "\f140"; }
.flaticon-music:before { content: "\f141"; }
.flaticon-musician:before { content: "\f142"; }
.flaticon-network:before { content: "\f143"; }
.flaticon-painter:before { content: "\f144"; }
.flaticon-photo:before { content: "\f145"; }
.flaticon-photographer:before { content: "\f146"; }
.flaticon-picture:before { content: "\f147"; }
.flaticon-placeholder:before { content: "\f148"; }
.flaticon-placeholder-1:before { content: "\f149"; }
.flaticon-plumber:before { content: "\f14a"; }
.flaticon-present:before { content: "\f14b"; }
.flaticon-profile:before { content: "\f14c"; }
.flaticon-profile-1:before { content: "\f14d"; }
.flaticon-profile-2:before { content: "\f14e"; }
.flaticon-programmer:before { content: "\f14f"; }
.flaticon-purple-ribbon:before { content: "\f150"; }
.flaticon-restaurant:before { content: "\f151"; }
.flaticon-seamstrees:before { content: "\f152"; }
.flaticon-search:before { content: "\f153"; }
.flaticon-signs:before { content: "\f154"; }
.flaticon-signs-1:before { content: "\f155"; }
.flaticon-singer:before { content: "\f156"; }
.flaticon-smartphone:before { content: "\f157"; }
.flaticon-solidarity:before { content: "\f158"; }
.flaticon-star:before { content: "\f159"; }
.flaticon-success:before { content: "\f15a"; }
.flaticon-symbol:before { content: "\f15b"; }
.flaticon-tanks:before { content: "\f15c"; }
.flaticon-tennis-player:before { content: "\f15d"; }
.flaticon-toilet:before { content: "\f15e"; }
.flaticon-toilet-1:before { content: "\f15f"; }
.flaticon-tv-correspondent:before { content: "\f160"; }
.flaticon-user:before { content: "\f161"; }
.flaticon-user-1:before { content: "\f162"; }
.flaticon-users:before { content: "\f163"; }
.flaticon-users-1:before { content: "\f164"; }
.flaticon-valentines:before { content: "\f165"; }
.flaticon-watermelon:before { content: "\f166"; }
.flaticon-weather:before { content: "\f167"; }
.flaticon-weather-1:before { content: "\f168"; }
.flaticon-witch:before { content: "\f169"; }
.flaticon-world:before { content: "\f16a"; }