.icon-rocket{
  margin-left:.2rem;
}
a{
  margin-left:0;
}
.content p{
  text-align: justify;
}
.each-program:hover a.quotebtn{
  background: #fff;
  color:#14b6e6
}
.each-program:hover h3 span:before{
  background:#fff;
}
