<div id="services-page">
  <!-- Our Programs -->
  <div class="programs">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-section">
            <div class="title-content">
              <h2 class="wow slideInUp" data-wow-delay=".1s"><span>Our <i>Services</i></span></h2>
            </div>
          </div>
          <div class="programs-list">
            <div class="row">
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>Training & Certification</span></h3>
                    <p>We train students or early professionals on modern technologies and will provide the certification after successful completion of the traning. To be mention we teach in a way that you learn while developing some realworld application.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                    Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>Web Design</span></h3>
                    <p>Give your website a professional look and feel with our top web design services. We create effective, compelling websites with attractive & user-centered designs. Our web design services are considered top notch by our clients.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                      Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>Web App Development</span></h3>
                    <p>To meet your industry needs, we cater tailor-made robust user experience and deliver the top-notch, Highly innovative, feature-rich websites across the worlds of startups and enterprise fragment with our captivating functionality.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                      Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>Mobile App Development</span></h3>
                    <p>We have built hybrid mobiles apps for our customers from Health, Education, Real Estate & Hospitality sectors. We are specialists in building hybrid mobile apps powered by Ionic Framework with angular and as well React Native with custom server side application APIs.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                      Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>SEO & Digital Marketing</span></h3>
                    <p>As a professional SEO consultants we are committed to give the ROI search engine ranking results to our clients. Our experts have several years of experience in White Hat SEO Techniques and Search Engines Reverse Engineering. Our professional search engine optimization services will give you the high ranking and are committed for maximize your revenue from your online business.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                      Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program wow slideInUp">
                  <div class="content">
                    <h3><span>Web Hosting</span></h3>
                    <p>We are having partnerships with one of the best website hosting providers. We will provide <br />Domain Name registration<br /> VPS Servers <br /> Dedicated Servers <br />Shared hosting etc.</p>
                    <p><a routerLink="/contact" type="submit" class="btn quotebtn btn-info">
                      Intrested..! Contact <i class="icon-rocket"></i> </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
