<div id="services-page">
  <!-- Our Programs -->
  <div class="programs">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-section">
            <div class="title-content">
              <h2 class="wow slideInUp" data-wow-delay=".1s"><span>Our <i>Services</i></span></h2>
            </div>
          </div>
          <div class="programs-list">
            <div class="row">
              <div class="col-md-6">
                <div class="each-program program-1" id="program-1">
                  <div class="program-pic wow slideInUp">
                    <img src="../../assets/img/services/web.jpg" alt="Our Program" class="img-responsive">
                  </div>
                  <div class="content wow slideInUp">
                    <h3><span>Web Development</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde saepe veniam, quae quisquam omnis
                      quia cum nam id. </p>
                    <p>Dolor repellat maiores iusto nisi inventore quisquam dolore unde nulla nostrum odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsa placeat illum omnis
                      suscipit est sit dolorum dolor rem nam architecto id consequuntur molestiae cum quas, debitis
                      adipisci odit deleniti.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos molestiae maiores
                      praesentium nam dicta exercitationem, omnis a placeat tenetur cumque, voluptatum odit quod
                      molestias, soluta, eveniet necessitatibus impedit fugiat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quam delectus maiores veritatis
                      asperiores dolores officiis inventore laudantium voluptatem nemo, quisquam blanditiis quo magni,
                      et quas deserunt, corrupti dolor ut.Dolor repellat maiores iusto nisi inventore quisquam dolore
                      unde nulla nostrum odio.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="each-program program-2" id="program-2">
                  <div class="program-pic wow slideInUp">
                    <img src="../../assets/img/services/hosting.jpg" alt="Our Program" class="img-responsive">
                  </div>
                  <div class="content">
                    <h3><span>Web Hosting</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde saepe veniam, quae quisquam omnis
                      quia cum nam id. </p>
                    <p>Dolor repellat maiores iusto nisi inventore quisquam dolore unde nulla nostrum odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ipsa placeat illum omnis
                      suscipit est sit dolorum dolor rem nam architecto id consequuntur molestiae cum quas, debitis
                      adipisci odit deleniti.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos molestiae maiores
                      praesentium nam dicta exercitationem, omnis a placeat tenetur cumque, voluptatum odit quod
                      molestias, soluta, eveniet necessitatibus impedit fugiat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quam delectus maiores veritatis
                      asperiores dolores officiis inventore laudantium voluptatem nemo, quisquam blanditiis quo magni,
                      et quas deserunt, corrupti dolor ut.Dolor repellat maiores iusto nisi inventore quisquam dolore
                      unde nulla nostrum odio.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
