<div id="home-page">
  <div class="banner">
    <video id="coding-video" autoplay="ture" loop="true">
      <source src="assets/img/coding.mp4" type="video/mp4">
    </video>
    <div class="layer"></div>
    <div class="content">
      <p>We Build and Scale Softwares For </p>
      <p>Startups <span class="normal">&amp;</span> Innovative Brands</p>
      <div>
        <p><button routerLink="/contact" type="submit" class="btn quotebtn btn-info"><i class="icon-paper-airplane"></i>
            GET QUOTE</button></p>
      </div>
    </div>
  </div>



  <!-- About Charity -->
  <div class="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-section">
            <div class="title-content">
              <p class="top-line wow slideInUp">HELLO &amp; WELCOME</p>
              <h2 class="wow slideInUp"><span>About <i> monave</i></span></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 hidden-xs">
              <div class="pic-left wow bounceInLeft">
                <img src="assets/img/about.png" alt="About Pic" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box-content wow slideInUp">
                <p class="head-para wow slideInUp">monave is a team of Software Engineers spread around the world.
                  Combining our solid business domain knowledge, technical expertise, profound knowledge of most modern
                  industry trends and quality-driven delivery model we offer progressive end-to-end solutions.</p>
                <p class="head-para wow slideInUp">We deliver extensive web services extending from custom web
                  applications & software to the development of complex Internet systems. We base our offerings on an
                  understanding of clients’ business goals and providing reliable solutions. We combine business domain
                  expertise with technology competence and proven methodologies to deliver high-quality results in a
                  cost-effective manner to maximize your competitive advantage and productivity.</p>
                <p class="box-readmore wow bounceInUp">
                  <a routerLink="/aboutus">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Charity Services -->
  <div class="charity-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-section">
            <div class="title-content">
              <!-- <p class="top-line wow slideInUp">You can Join Us</p> -->
              <h2 class=" wow slideInUp" data-wow-delay=".1s"><span>Our <i>Services</i></span></h2>
            </div>
          </div>
          <div class="service-list">
            <div class="row">

              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-badge"></span></div>
                      <h3 class="box-title">Training & Certification</h3>
                    </div>
                    <div class="box-content">
                      <p>We train students or early professionals on modern technologies and will provide the certification after successful completion of the traning ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-globe"></span></div>
                      <h3 class="box-title">Web Design</h3>
                    </div>
                    <div class="box-content">
                      <p>Give your website a professional look and feel with our top web design services. We create effective, compelling websites with attractive & user-centered designs ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-screen-desktop"></span></div>
                      <h3 class="box-title">Web App Development</h3>
                    </div>
                    <div class="box-content">
                      <p>To meet your industry needs, we cater tailor-made robust user experience and deliver the top-notch, Highly innovative, feature-rich websites across the worlds ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-screen-smartphone"></span></div>
                      <h3 class="box-title">Mobile App Development</h3>
                    </div>
                    <div class="box-content">
                      <p>We have built hybrid mobiles apps for our customers from Health, Education, Real Estate & Hospitality sectors. We are specialists in building hybrid mobile apps powered by ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-graph"></span></div>
                      <h3 class="box-title">SEO & Digital Marketing</h3>
                    </div>
                    <div class="box-content">
                      <p>As a professional SEO consultants we are committed to give the ROI search engine ranking results to our clients. Our experts have several years of experience in White Hat SEO Techniques and ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="each-serv wow slideInUp">
                  <div class="iconbox clearfix left no-box" data-wow-delay=".1s">
                    <div class="box-header">
                      <div class="box-icon"><span class="icon-cloud-upload"></span></div>
                      <h3 class="box-title">Web Hosting</h3>
                    </div>
                    <div class="box-content">
                      <p>We are having partnerships with one of the best website hosting providers. We will provide Domain Name registration, VPS Servers,  Dedicated Servers ...</p>
                      <p class="box-readmore">
                        <a routerLink="/services">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="statistics">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-sm-4">
          <div class="stat_no wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: bounceInLeft;">
            <h2><i class="icon-layers"></i><span class="number"> 5</span></h2>
            <p>Total Clients</p>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="stat_no wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: bounceInLeft;">
            <h2><i class="icon-people"></i><span class="number"> 10</span></h2>
            <p>Team Strength</p>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4">
          <div class="stat_no wow bounceInRight" data-wow-duration="1s" data-wow-delay=".5s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: bounceInRight;">
            <h2><i class="icon-trophy"></i><span class="number"> 10</span></h2>
            <p>Applications Coded</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
